body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    top: 0;
    left: 0;
    overflow: hidden;
}
.bg-img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    display: block;
}
.overlay {
position: absolute;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 2; 

}
main {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    text-align: center;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 18px;
    letter-spacing: -1px;
}

.price {
    font-size: 1.4rem;
    margin-bottom: 14px;
}

.subtext {
    font-size: 1.1rem;
    margin-bottom: 26px;
}
.select {
    font-size: 10px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    height: 70px;
}
.logo {
    height: 10rem;
    width: 19rem;
    font-size: 70px;
    margin-left: 65px;
    margin-top: 5px;
    padding-top: 0px;
    text-decoration: rgb(229, 9, 20);
    color:#e50914;
    overflow: hidden;
    background-color: rgba(0,0,0,0.1);
    box-sizing:border-box;
}
.header-right {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-right: 140px;
    margin-top: 5px;
    padding-top: 0px;
    font-size: 16px;
    line-height: 20px;
    text-decoration: rgb(255, 255, 255);
    height: 32px;
    width: 124px;
    border: 0px solid #FFFFFF;
    outline: rgb(255, 0, 0)
}

.language {
    background: transparent;
    color: #fff;
    border: 1px solid #444;
    padding: 7px 16px;
    border-radius: 2px;
    font-size: 16px;
}

.sign-in-btn {
    background: #e50914;
    color: #fff;
    border: none;
    padding: 7px 18px;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
} 